body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#9bdfff, #009be4);
}

.infinite {
    bottom: 0;
    position: relative;
    width: 500px;
    height: 100vh;
    background: #525252;
    transform-style: preserve-3d;
    transform: perspective(300px) rotateX(50deg);
}

.infinite:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(0deg, #fff 0%, #fff 70%, #525252 70%, #525252 100%);
    background-size: auto 120px;
    animation: animate 0.5s linear infinite;
}

@keyframes animate {
    0% {
        background-position-y: -120px;
    }
    100%{
        background-position-y: -0px;
    }
}