:root {
    --view-heigh: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background: radial-gradient(#FCF5CC, #FAD694, #9FAAA9);
}

.road-mark {
    position: absolute;
    width: 30%;
    height: 50vh;
    background: #525252;
    transform-style: preserve-3d;
    transform-origin: top;
    top: 58.3vh;
    transform: perspective(20vh) rotateX(20deg);
    z-index: 1;
}

.road-mark:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 5%;
    height: 100%;
    background: linear-gradient(0deg, #fff 0%, #fff 70%, #525252 70%, #525252 100%);
    background-size: auto 10vh;
    animation: animate 0.7s linear infinite;
}

@keyframes animate {
    0% {
        background-position-y: -10vh;
    }
    100%{
        background-position-y: 0px;
    }
}

.grass {
    background: url('img/grass.png');
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 50vh;
}
