@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --bg: #FBF6EE;
    --color1: #65B741;
    --color2: #FFB534;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

.gift-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20%;
}

.gift-container.active {
    animation: vibration 1s ease forwards;
}

@keyframes vibration {
    0% {
        transform: scale(1,1);
    }
    25% {
        transform: scale(.95,1.05);
    }
    50% {
        transform: scale(1.1,0.9);
    }
    75% {
        transform: scale(.9,1);
    }
    100% {
        transform: scale(1,1);
    }
}

.gift-container .gift-box {
    position: absolute;
    height: 200px;
    width: 300px;
    background: var(--color1);
    animation: bounce 4s ease infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(-24px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-24px);
    }
}

.gift-box.active {
    animation: none;
}

.gift-box::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 200px;
    background: var(--color2);
    left: 124px;
}

.gift-box::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 200px;
    box-shadow: inset 0 10px rgba(0,0,0,.3);
}

.click {
    position: absolute;
    background: var(--color1);
    width: 340px;
    height: 90px;
    top: -90px;
    left: -20px;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s ease;   
}

.click.active {
    transition-delay: 1s;
    transform: translateY(-240px);
}

.click::before {
    content: '';
    position: absolute;
    background: var(--color1);
    width: 50px;
    height: 90px;
    background: var(--color2);
    left: 144px;
    z-index: 2;
}

.click::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 60px solid var(--color2);
    border-top: 60px solid var(--color2);
    border-left: 0 solid transparent;
    border-right: 60px solid transparent;
    transform: rotate(-90deg);
    top: -93px;
    left: 136px;
    z-index: 3;
}

.gift-container .shadow {
    content: '';
    position: relative;
    width: 340px;
    height: 40px;
    background: rgba(0,0,0,.4);
    top: 130px;
    border-radius: 50%;
    left: -4px;
    animation: bounceOut 4s ease infinite;
}

.gift-container .shadow.active {
    animation: none;
}

@keyframes bounceOut {
    0% {
        transform: translateY(-24px);
        scale: .8;
    }
    50% {
        transform: translateY(0px);
        scale: 1;
    }
    100% {
        transform: translateY(-24px);
        scale: .8;
    }
}

.text {
    position: absolute;
    top: -40px;
    width: 200px;
    background: var(--color1);
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: var(--color2);
    border-radius: 20px;
    z-index: -1;
    scale: 0;
    transition: .5s ease;
    transition-delay: 1.2s;
}

.text.active {
    transform: translate(-100px, -240px) rotate(360deg);
    scale: 1;
}

.text.active2 {
    top: 0;
    transition-delay: 0.2s;
}

.man {
    position: absolute;
    transition: .5s ease;
    transition-delay: 1.2s;
    transform: translateY(-30px);
    z-index: -1;
}

.man.active {
    transform: translateY(-200px);
    scale: 1;
}

.man.active2 {
    transform: translateY(-30px);
    transition-delay: 0.2s;
}


/* firework style */
/*  */
.firework-container {
    display: none;
}

.firework-container.active {
    display: block;
}

.firework {
	position: absolute;
}
.explosion {
	position: absolute;
	left: -2px;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	/* background-color: rgba(0,0,0,.2); */
	overflow: hidden;
}
.explosion:nth-child(1) {
	transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
	transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
	transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
	transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
	transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
	transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
	transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
	transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
	transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
	transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
	transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
	transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 40px;
	background-color: #ee7422;
}
@keyframes explosion {
	0% {
		top: 100%;
	}
	33%, 100% {
		top: -50%;
	}
}

#firework1 {
	left: 10%;
	top: 40%;
	transform: scale(0.7);
}
#firework1 .explosion::before {
	animation: explosion 2s ease-in-out infinite;
}

#firework2 {
	right: 20%;
	top: 45%;
	transform: scale(1);
}
#firework2 .explosion::before {
	animation: explosion 2s .6s ease-in-out infinite;
}

#firework3 {
	left: 30%;
	top: 55%;
	transform: scale(.4);
}
#firework3 .explosion::before {
	animation: explosion 2s .4s ease-in-out infinite;
}