
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
}

.clock {
    position: absolute;
    /* width: 600px; */
    /* height: 200px; */
    background-color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid saddlebrown 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    padding-right: 10px;
}

.number {
    width: 80px;
    height: 100px;
    background-color: whitesmoke;
    margin: 10px 0 10px 10px;
}

.block {
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    float: left;
}

@keyframes fade-in {
    0% {
        background-color: whitesmoke;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: whitesmoke;
    }
}

@keyframes fade-out {
    0% {
        background-color: red;
    }
    50% {
        background-color: whitesmoke;
    }
    100% {
        background-color: red;
    }
}

@keyframes fade-in-out {
    0% {
        background-color: red;
    }
    25% {
        background-color: whitesmoke;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: whitesmoke;
    }
    100% {
        background-color: red;
    }
}

 /* number 1 */
.number:nth-child(1) .block:nth-child(-n+16) {
    background-color: red;
}

.number:nth-child(1) .block:nth-child(n+23):nth-child(-n+24) {
    background-color: red;
}

.number:nth-child(1) .block:nth-child(n+31):nth-child(-n+50) {
    background-color: red;
}

.number:nth-child(1) .block:nth-child(n+57):nth-child(-n+58) {
    background-color: red;
}

.number:nth-child(1) .block:nth-child(n+65):nth-child(-n+80) {
    background-color: red;
}

 /* number 2 */
.number:nth-child(2) .block:nth-child(8n-7) {
    background-color: red;
}
.number:nth-child(2) .block:nth-child(8n-6) {
    background-color: red;
}
.number:nth-child(2) .block:nth-child(8n) {
    background-color: red;
}
.number:nth-child(2) .block:nth-child(8n-1) {
    background-color: red;
}
.number:nth-child(2) .block:nth-child(n+3):nth-child(-n+6) {
    background-color: red;
}
.number:nth-child(2) .block:nth-child(n+11):nth-child(-n+14) {
    background-color: red;
}
.number:nth-child(2) .block:nth-child(n+67):nth-child(-n+70) {
    background-color: red;
}
.number:nth-child(2) .block:nth-child(n+75):nth-child(-n+78) {
    background-color: red;
}

/* number 1 */
.number:nth-child(3) .block:nth-child(-n+16) {
    background-color: red;
}

.number:nth-child(3) .block:nth-child(n+23):nth-child(-n+24) {
    background-color: red;
}

.number:nth-child(3) .block:nth-child(n+31):nth-child(-n+50) {
    background-color: red;
}

.number:nth-child(3) .block:nth-child(n+57):nth-child(-n+58) {
    background-color: red;
}

.number:nth-child(3) .block:nth-child(n+65):nth-child(-n+80) {
    background-color: red;
}

 /* number 4 */
 .number:nth-child(4) .block:nth-child(8n) {
    background-color: red;
}
.number:nth-child(4) .block:nth-child(8n-1) {
    background-color: red;
}
.number:nth-child(4) .block:nth-child(n+33):nth-child(-n+46) {
    background-color: red;
}

 /* fade out 3*/
.number:nth-child(4) .block:nth-child(n+73):nth-child(-n+78) {
    animation: fade-out 4s ease infinite;
}
.number:nth-child(4) .block:nth-child(n+65):nth-child(-n+70) {
    animation: fade-out 4s ease infinite;
}
.number:nth-child(4) .block:nth-child(n+3):nth-child(-n+6) {
    animation: fade-out 4s ease infinite;
}
.number:nth-child(4) .block:nth-child(n+11):nth-child(-n+14) {
    animation: fade-out 4s ease infinite;
}

 /* fade in 4  */ 
.number:nth-child(4) .block:nth-child(n+17):nth-child(-n+18) {
    animation: fade-in 4s ease infinite;
} 
.number:nth-child(4) .block:nth-child(n+25):nth-child(-n+26) {
    animation: fade-in 4s ease infinite;
} 

 /* fade out and in merge area */
 .number:nth-child(4) .block:nth-child(n+1):nth-child(-n+2) {
    background-color: red;
} 
.number:nth-child(4) .block:nth-child(n+9):nth-child(-n+10) {
    background-color: red;
}