body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    perspective: 600px;
    background-color: white;
}

.lotus-flower {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    border: black 1px solid;
}

.petal {
    position: absolute;
    width: 150px;
    height: 300px;
    background: linear-gradient(135deg, #66ccff, #ff66cc);
    border-radius: 80% 80% 70% 70%;
    transform-style: preserve-3d;
    transform-origin: bottom;
    box-shadow: 0px 0px 20px rgba(6, 53, 107, 0.952);
    animation: flowerBloom 3s ease-in-out infinite;
}

.pistil {
    position: absolute;
    width: 80px;
    height: 150px;
    background: linear-gradient(0deg, #66ccff, #ff66cc);
    border-radius: 60% 60% 80% 80%;
    transform-style: preserve-3d;
    transform: translateY(75px);
    box-shadow: 0px 0px 20px rgba(8, 243, 251, 0.952);
}

.petal-a1 {
    --rotateY: 330deg;
    --translateX: -10px;
    --translateY: 0px;
    --translateZ: -20px;
}

.petal-a2 {
    --rotateY: 110deg;
    --translateX: 0px;
    --translateY: 0px;
    --translateZ: 0px;
}

.petal-a3 {
    --rotateY: 200deg;
    --translateX: 30px;
    --translateY: 0px;
    --translateZ: 0px;
}

.petal-a4 {
    --rotateY: 290deg;
    --translateX: 0px;
    --translateY: 0px;
    --translateZ: 0px;
}



@keyframes flowerBloom {
    0% {
        transform: rotateY(var(--rotateY)) translateX(var(--translateX)) translateY(var(--translateY)) translateZ(var(--translateZ)) rotateX(0deg);
    }
    100% {
        transform: rotateY(var(--rotateY)) translateX(var(--translateX)) translateY(var(--translateY)) translateZ(var(--translateZ)) rotateX(60deg);
    }
}
